
@font-face {
    font-family: gravity;
    src: url(../fonts/gravity.otf);
}

body
{

     background: linear-gradient(to top, rgb(20,20,20), rgb(40,40,40));
}

*
{
    font-family: gravity;
    color: rgb(230,230,230);  

    animation-name: hammer;
    animation-duration: 10s;
}

#logo
{
    width: 384;
    height: 384;

    display: block;
    margin: auto;
}

#loading-bar-container
{
    display: block;
    margin: auto;

    width: 60%;
    margin-top: 200px;
}

#loading-text
{
    display: inline-block;
    margin-left: 10px;
}

#loading-bar[value] 
{
   -webkit-appearance: none;
   appearance: none;

   width: 100%;
   height: 30px;
}

#loading-bar[value]::-webkit-progress-bar
{
  background-color: rgb(60,60,60);
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

#loading-bar::-webkit-progress-value
{
    animation-name: example;
    animation-duration: 10s;
    animation-play-state: running;
    background-color: rgb(233,198,70);
    border-radius: 20px; 
    background-size: 60px 30px, 100% 100%, 100% 100%;
}
.stick-to-right
{
    float:right;
}
