@font-face 
{
    font-family: gravity;
    src: url(../fonts/gravity.otf);
}

body
{
    overflow: hidden;
    background-color: rgb(30,30,30);
    box-shadow: 0 0 500px rgba(0,1,1,1) inset;
    background-color: rgb(30,30,30);
    margin: 0;
}

#background
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: -1;
    opacity: 0.3;
    transition: opacity 0.3s; 
}

*
{
    font-family: gravity;
    color: rgb(230,230,230);  

    animation-name: hammer;
    animation-duration: 10s;
}

#logo
{
    max-width: 1024;
    max-height: 1024;

    display: block;
    margin: auto;
}

.content-container
{
    display: block;
    margin: auto;

    width: 60%;
}

/*
    Progressbar styling.
*/
progress
{
    margin-top: 5px;
}

progress[value] 
{
   -webkit-appearance: none;
   appearance: none;

   width: 100%;
   height: 30px;
}

progress[value]::-webkit-progress-bar
{
  background-color: rgb(60,60,60);
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress::-webkit-progress-value
{
    animation-name: example;
    animation-duration: 10s;
    animation-play-state: running;
    border-radius: 20px;
    background-size: 60px 30px, 100% 100%, 100% 100%;
}

.pbCollapse
{
    width: 24.63% !important

}

/*
    General purpose classes.
*/
.stick-to-right
{
    float:right;
}

.hide 
{
    display: none;
}

.loading-text
{
    display: inline-block;
}

/*
    Messages styling + fade in and fadeout animations
*/
#message 
{
    opacity:1;
    transition: opacity 0.3s; 
}

/*
    Music player styling.
*/
#player
{
    display: none;
}

#music-info
{
    position: absolute;
}

#now-playing
{
    color: rgb(150,150,150);
    font-size: 0.9em;
}

#playButton
{
    color: rgb(150,150,150);
    background: none;
    border-radius: 0;
    box-shadow: none;
    outline-color: rgb(233,198,70);
    background-color: rgb(80,80,80);
    border: 0;
    border-style: hidden;
    padding: 10px;
    float: left;
}

#volumeSlider
{
    width: 200px;
    height: 25px;
    margin-top: 5px;
    margin-left: 15px;
    
    -webkit-appearance: none;
    background: rgb(80,80,80);
    outline: none;
}

#volumeSlider::-webkit-slider-thumb 
{
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    background: rgb(233,198,70);
}

#cursor
{
    position: absolute;
    z-index: 1;
    pointer-events: none;
}